@use "../scssEbi/_whole" as *;
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}
@keyframes animacia {
  from {
    right: -150px;
  }
  to {
    right: 0;
  }
}
header {
  height: 136px;
  display: flex;
  justify-content: center;
  @include mobile {
    position: relative;
    width: 90%;
    padding-left: 40px;
    @include between;
    li,
    input,
    img,
    .fa-solid {
      display: none;
    }
  }
  nav {
    @include between;
    width: 95%;

    @include mobile {
      @include between;
      width: 100%;
    }
    .leftheader {
      width: 70%;
      @include between;
      margin-right: 30px;
      @include mobile {
        width: 228px;
      }
      h1 {
        font-size: 35px;
        color: $strangepurple;
        span {
          color: $lightred;
        }
      }
      ul {
        display: flex;
        justify-content: space-between;
        width: 40%;
        li {
          a {
            color: #13264e;
            font-size: 20px;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .inputandstuff {
      display: flex;
      align-items: center;

      .input {
        position: relative;
        width: 12.4vw;
        height: 21px;
        @include mobile {
          display: none;
        }
        input {
          width: 12.4vw;
          height: 21px;
          border-radius: 40px;
          padding-left: 11px;
          background-color: #d9d9d980;
          border: none;
          outline: none;
        }
        i {
          position: absolute;
          font-size: 8px;
          right: 8px;
          top: 50%;
          transform: translatey(-50%);
        }
      }
    }

    .cordination {
      @include between;
      width: 100px;

      @include mobile {
        width: 16px;
      }

      img:hover{
        scale: 1.1;
        transition: ease-in-out;
        cursor: pointer;

      }
      .mobilemenu {
        label {
          cursor: pointer;
        }
        #menu {
          display: none;
        }
        #menu:checked ~ div {
          @include center;
          flex-direction: column;
          row-gap: 10px;
          animation: animacia 0.7s;
          right: 0;
        }

        .telephonenav {
          display: none;
          @include mobile {
            position: absolute;
            right: -140px;
            margin-top: 10px;
            width: 320px;
            height: 250px;
            background-color: rgb(196, 192, 192);
            display: none;
            border-radius: 20px;
            z-index: 1;
          }
          div {
            display: none;
            @include mobile {
              display: none;
              padding-top: 10px;
              padding-bottom: 10px;
              width: 100%;
              cursor: pointer;
              @include center;
              &:hover {
                background-color: rgb(173, 171, 171);
              }
            }

            a {
              @include mobile {
                color: #465577;
                font-size: 20px;
              }
            }
          }
        }
      }
      .lines {
        display: none;
        @include mobile {
          display: block;
        }
      }
    }
  }
}

main {
  .photo {
    height: 612px;
    background-image: url(../images/teraphy.webp);
    @include center;
    font-size: 75px;
    color: white;
  }
  .xazebi {
    width: 100%;
    @include center;
    margin-top: 98px;
    div {
      width: 253px;
      height: 0;
      border: 1px solid black;
      @include mobile {
        width: 90.5px;
      }
    }
    h1 {
      font-family: "Kaisei Decol", serif;
      font-size: 36px;
      text-align: center;
      margin-inline: 13px;
      @include mobile {
        font-size: 30px;
      }
    }
  }
  .mid {
    display: flex;
    justify-content: space-around;
    margin-top: 133px;
    font-family: "Kaisei Decol", serif;

    @include mobile {
      flex-direction: column;
      row-gap: 80px;
    }
    .circle {
      width: 192px;
      height: 192px;
      background-color: #273a47;
      border-radius: 50%;
      @include center;
      color: white;
      font-size: 36px;
    }
    P {
      font-size: 24px;
      margin-top: 32px;
    }
    .first {
      display: flex;
      flex-direction: column;
      align-items: center;
      P {
        max-width: 332px;

        @include mobile {
          width: 245px;
        }
      }
    }
    .second {
      @extend .first;
      p {
        max-width: 436px;

        @include mobile {
          width: 314px;
        }
      }
    }
    .third {
      @extend .first;
      p {
        max-width: 356px;
      }
    }
  }
  .photo2 {
    background-image: url(../images/albums.jpg);
    height: 700px;
    margin-top: 150px;
    position: relative;
    .aboutus {
      width: 50%;
      height: 100%;
      @include center;
      flex-direction: column;
      color: white;
      font-family: "Kadwa", serif;
      background: rgba(0, 0, 0, 0.5);

      div {
        @include mobile {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          @include center;
          flex-direction: column;
        }
      }

      h1 {
        font-size: 30px;

        @include mobile {
          font-size: 50px;
          margin-bottom: 20px;
        }
      }
      h2 {
        font-size: 24px;
        display: none;
        @include mobile {
          display: block;
        }
      }
      p {
        font-size: 20px;
        max-width: 491px;
        line-height: normal;
        margin-top: 69px;

        @include mobile {
          display: none;
        }
      }
    }
  }
}
footer {
  position: relative;
  .wholefooter {
    margin-top: 100px;
    flex-direction: column;
    background-color: #e4e4e4;
    padding: 40px 40px 26px 40px;
    display: flex;
    .bothside {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .leftside {
        width: 58.2%;
        display: flex;
        justify-content: space-between;

        @include mobile {
          flex-direction: column;
        }
        h1 {
          font-size: 25px;
          color: $strangepurple;
          span {
            color: $lightred;
          }
        }
        p {
          font-family: "Kameron", serif;
          margin-top: 13px;
        }
        ul {
          margin-top: 44px;
          display: flex;
          flex-direction: column;
          gap: 17px 0;
          font-family: "Kameron", serif;
          @include mobile {
            display: none;
          }

          li:hover{
            scale: 1.1;
            transition: ease-in-out;
            cursor: pointer;
          }
        }
        .help {
          width: 160.003px;

          @include mobile {
            margin-left: 10px;
          }
          hr {
            height: 1px;
            background-color: black;
          }
          p {
            font-family: "Kaushan Script", cursive;
          }
          ul {
            font-family: "Kameron", serif;
            display: flex;
            flex-direction: column;
            row-gap: 17px;
            margin-top: 12px;

            li:hover{
              scale: 1.1;
              transition: ease-in-out;
              cursor: pointer;
            }
          }
        }
      }
      .rightside {
        display: flex;
        justify-content: space-between;
        width: 30.2%;

        @include mobile {
          flex-direction: column-reverse;
        }

        .social {
          align-items: center;
          display: flex;
          flex-direction: column;
          row-gap: 29px;

          @include mobile {
            align-items: end;
          }
          img {
            width: 30px;
            height: 30px;
                       
          }
          .tbc {
            width: 75px;
            height: 75px;
            &:hover{
              scale: 1.1;
              transition: ease-in-out;
              cursor: pointer;
            }

            @include mobile {
              width: 60px;
              height: 60px;
              position: absolute;
              bottom: 26px;
              right: 40px;
            }
          }
        }
        .contact {
          width: 160.003px;
          hr {
            height: 1px;
            background-color: black;
          }
          p {
            font-family: "Kaushan Script", cursive;
            margin-top: 13px;
          }
          ul {
            font-family: "Kameron", serif;
            display: flex;
            flex-direction: column;
            row-gap: 17px;
            margin-top: 12px;

            li:hover{
              scale: 1.1;
              transition: ease-in-out;
              cursor: pointer;
            }
          }
        }
      }
    }
    .bottomfooter {
      @include between;
      width: 95%;

      .number {
        display: flex;
        column-gap: 20px;
        margin-top: 29px;
        img {
          width: 24px;
          height: 24px;
        }
      }
      .footerinput {
        div {
          width: 41.4vw;

          @include between;
          input {
            width: 339px;
            height: 40px;
            padding-left: 13px;
            font-family: "Karma", serif;
            border: 1px solid #000;
            border-radius: 12px;
            @include mobile {
              display: none;
            }
            &::placeholder {
              color: black;
              font-size: 20px;
            }
          }
          button {
            width: 148px;
            height: 40px;
            font-family: "Karma", serif;
            font-size: 15px;
            color: white;
            font-family: "Karma", serif;
            background-color: #273a47;
            border: none;
            border-radius: 12px;
            @include mobile {
              display: none;
            }
          }
        }
        p {
          font-family: "Karla", sans-serif;
          font-size: 12px;
          margin-top: 11px;
          @include mobile {
            display: none;
          }
        }
      }
    }
  }
}
