@import url("https://fonts.googleapis.com/css2?family=Kadwa&family=Kaisei+Decol&family=Kameron&family=Karla:wght@700&family=Karma&family=Kaushan+Script&family=Roboto:ital,wght@0,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes animacia {
  from {
    right: -150px;
  }
  to {
    right: 0;
  }
}
header {
  height: 136px;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  header {
    position: relative;
    width: 90%;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header li,
  header input,
  header img,
  header .fa-solid {
    display: none;
  }
}
header .leftheader {
  width: 63.3%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  header .leftheader {
    width: 228px;
  }
}
header .leftheader h1 {
  font-size: 35px;
  color: #ab1d46;
}
header .leftheader h1 span {
  color: #ff4c30;
}
header .leftheader ul {
  display: flex;
  column-gap: 31.5px;
  margin-right: 50px;
}
header .leftheader ul li a {
  color: #13264e;
  font-size: 20px;
}
header .leftheader ul li a:hover {
  text-decoration: underline;
}
header .rightheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 27.9%;
}
@media (max-width: 768px) {
  header .rightheader {
    width: 16px;
  }
}
header .rightheader .inputandstuff {
  display: flex;
  align-items: center;
}
header .rightheader .input {
  position: relative;
  width: 188px;
  height: 21px;
}
@media (max-width: 768px) {
  header .rightheader .input {
    display: none;
  }
}
header .rightheader .input input {
  width: 188px;
  height: 21px;
  border-radius: 40px;
  padding-left: 11px;
  background-color: rgba(217, 217, 217, 0.5019607843);
  border: none;
  outline: none;
}
header .rightheader .input i {
  position: absolute;
  font-size: 8px;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
}
header .cordination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 14px;
}
header .cordination .mobilemenu label {
  cursor: pointer;
}
header .cordination .mobilemenu #menu {
  display: none;
}
header .cordination .mobilemenu #menu:checked ~ div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  animation: animacia 0.7s;
  right: 0;
}
header .cordination .mobilemenu .telephonenav {
  display: none;
}
@media (max-width: 768px) {
  header .cordination .mobilemenu .telephonenav {
    position: absolute;
    right: -140px;
    margin-top: 10px;
    width: 320px;
    height: 250px;
    background-color: rgb(196, 192, 192);
    display: none;
    border-radius: 20px;
    z-index: 1;
  }
}
header .cordination .mobilemenu .telephonenav div {
  display: none;
}
@media (max-width: 768px) {
  header .cordination .mobilemenu .telephonenav div {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header .cordination .mobilemenu .telephonenav div:hover {
    background-color: rgb(173, 171, 171);
  }
}
@media (max-width: 768px) {
  header .cordination .mobilemenu .telephonenav div a {
    color: #465577;
    font-size: 20px;
  }
}
header .cordination .lines {
  display: none;
}
@media (max-width: 768px) {
  header .cordination .lines {
    display: block;
  }
}

main {
  margin-bottom: 100px;
}
main .photo {
  background-image: url(../images/clothes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 80%;
}
main .photo p {
  color: #ab1d46;
  opacity: 100%;
  font-size: 70px;
}
@media (max-width: 768px) {
  main .photo p {
    font-size: 50px;
  }
}
main .P-ebi {
  font-family: "Karma", serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 90px 0 83px;
  margin-top: 107px;
}
main .product {
  padding: 0 102px 0 82px;
  margin-top: 118px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  main .product {
    flex-direction: column;
  }
}
main .product .leftmain {
  display: flex;
  flex-direction: column;
}
main .product .leftmain .hoodie {
  width: 100%;
  height: 555px;
  margin-top: 0;
}
main .product .leftmain div {
  width: 65%;
  margin-top: 39px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  main .product .leftmain div {
    width: 100%;
  }
}
main .product .leftmain div img {
  width: 149px;
  height: 158px;
}
@media (max-width: 768px) {
  main .product .rightmain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 60px;
  }
}
main .product .rightmain h1 {
  font-size: 64px;
  font-family: "Metal", serif;
}
main .product .rightmain h3 {
  font-size: 40px;
  font-family: "Karma", serif;
  margin: 30px 0 27px 0;
}
main .product .rightmain p {
  font-family: "Kameron", serif;
  max-width: 461px;
  font-size: 25px;
  margin-bottom: 15px;
}
main .product .rightmain .ertidiv {
  width: 131px;
  height: 66px;
  border-radius: 5px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}
main .product .rightmain .ertidiv P {
  margin: 0;
}
main .product .rightmain .heart {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 385px;
}
main .product .rightmain .heart button {
  color: white;
  width: 324px;
  height: 55px;
  background-color: #24253c;
  border-radius: 20px;
  border: none;
  font-size: 33px;
}
main .product .rightmain .heart i {
  font-size: 40px;
}

footer .wholefooter {
  margin-top: 100px;
  flex-direction: column;
  background-color: #e4e4e4;
  padding: 40px 40px 26px 40px;
  display: flex;
}
footer .wholefooter .bothside {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .wholefooter .bothside .leftside {
  width: 58.2%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .leftside {
    flex-direction: column;
  }
}
footer .wholefooter .bothside .leftside h1 {
  font-size: 25px;
  color: #ab1d46;
}
footer .wholefooter .bothside .leftside h1 span {
  color: #ff4c30;
}
footer .wholefooter .bothside .leftside p {
  font-family: "Kameron", serif;
  margin-top: 13px;
}
footer .wholefooter .bothside .leftside ul {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 17px 0;
  font-family: "Kameron", serif;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .leftside ul {
    display: none;
  }
}
footer .wholefooter .bothside .leftside .help {
  width: 173.003px;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .leftside .help {
    margin-left: 10px;
  }
}
footer .wholefooter .bothside .leftside .help hr {
  height: 1px;
  background-color: black;
}
footer .wholefooter .bothside .leftside .help p {
  font-family: "Kaushan Script", cursive;
}
footer .wholefooter .bothside .leftside .help ul {
  font-family: "Kameron", serif;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 12px;
}
footer .wholefooter .bothside .rightside {
  display: flex;
  justify-content: space-between;
  width: 30.2%;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .rightside {
    flex-direction: column-reverse;
  }
}
footer .wholefooter .bothside .rightside .social {
  text-align: end;
}
footer .wholefooter .bothside .rightside .contact {
  width: 173.003px;
}
footer .wholefooter .bothside .rightside .contact hr {
  height: 1px;
  background-color: black;
}
footer .wholefooter .bothside .rightside .contact p {
  font-family: "Kaushan Script", cursive;
  margin-top: 13px;
}
footer .wholefooter .bothside .rightside .contact ul {
  font-family: "Kameron", serif;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 12px;
}
footer .wholefooter .bottomfooter {
  display: flex;
  justify-content: space-between;
  width: 88.3%;
}
footer .wholefooter .bottomfooter .number {
  display: flex;
  column-gap: 20px;
  margin-top: 29px;
}
footer .wholefooter .bottomfooter .number img {
  width: 24px;
  height: 24px;
}
footer .wholefooter .bottomfooter .footerinput div {
  display: flex;
}
footer .wholefooter .bottomfooter .footerinput div input {
  width: 339px;
  height: 40px;
  padding-left: 13px;
  font-family: "Karma", serif;
  border: 1px solid #000;
  margin-right: 38px;
  border-radius: 12px;
}
@media (max-width: 768px) {
  footer .wholefooter .bottomfooter .footerinput div input {
    display: none;
  }
}
footer .wholefooter .bottomfooter .footerinput div input::placeholder {
  color: black;
  font-size: 20px;
}
footer .wholefooter .bottomfooter .footerinput div button {
  width: 148px;
  height: 40px;
  font-family: "Karma", serif;
  font-size: 15px;
  color: white;
  font-family: "Karma", serif;
  background-color: #273a47;
  border: none;
  border-radius: 12px;
}
@media (max-width: 768px) {
  footer .wholefooter .bottomfooter .footerinput div button {
    display: none;
  }
}
footer .wholefooter .bottomfooter .footerinput p {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  margin-top: 11px;
}
@media (max-width: 768px) {
  footer .wholefooter .bottomfooter .footerinput p {
    display: none;
  }
}
