@use "../scssEbi/_whole" as *;
header {
  width: 100%;
  height: 136px;
  @include center;
  nav {
    display: flex;
    align-items: center;
    h1 {
      font-size: 35px;
      color: $strangepurple;
      span {
        color: $lightred;
      }
    }
    ul {
      display: flex;
      margin-left: 197px;
      column-gap: 31.5px;
      margin-right: 50px;
      li {
        a {
          color: #13264e;
          font-size: 20px;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    .input {
      position: relative;
      width: 188px;
      height: 21px;
      input {
        width: 188px;
        height: 21px;
        border-radius: 40px;
        padding-left: 11px;
        background-color: #d9d9d980;
        border: none;
        outline: none;
      }
      i {
        position: absolute;
        font-size: 8px;
        right: 8px;
        top: 50%;
        transform: translatey(-50%);
      }
    }
  }
}
main {
  .kendrick {
    position: relative;
    @include center;
    flex-direction: column;
    background-image: url(../images/lamar.webp);
    background-repeat: no-repeat;
    width: 100%;
    height: 700px;
    background-position: center;
    opacity: 80%;
    p {
      font-size: 30px;
      color: purple;
      width: 527px;
      line-height: 40px;
    }
    button {
      @include center;
      width: 127px;
      height: 48px;
      background-color: #4e5e39e5;
      border: none;
      border-radius: 8px;
      color: white;
      margin-top: 32px;
    }

    img {
      position: absolute;
      right: 80px;
      top: 50%;
      transform: translatey(-50%);
    }
    .circles {
      display: flex;
      gap: 14px;
      position: absolute;
      bottom: 60px;
      div {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: black;
      }
      div:nth-of-type(2) {
        background-color: white;
      }
    }
  }
  .xazebi {
    width: 100%;
    @include center;
    margin-top: 98px;
    div {
      width: 253px;
      height: 0;
      border: 1px solid black;
    }
    h1 {
      font-family: "Kaisei Decol", serif;
      font-size: 36px;
      margin-inline: 13px;
    }
  }
  .arrows {
    margin-top: 102px;
    width: 100%;
    @include between;
    img:first-of-type {
      margin-left: 70px;
    }
    img:last-of-type {
      margin-right: 70px;
    }
    .albums {
      width: 850px;
      @include between;
      font-family: "Kaisei Decol", serif;
      .damn {
        p:first-of-type {
          margin-top: 10px;
          margin-left: 25%;
        }
        p:last-of-type {
          margin-top: 10px;
          margin-left: 13%;
        }
      }
      .morale {
        p:first-of-type {
          margin-top: 10px;
          width: 137px;
          margin-left: 12%;
        }
        p:last-of-type {
          margin-top: 10px;
          margin-left: 15%;
        }
      }
      .butterfly {
        p:first-of-type {
          margin-top: 10px;
          margin-left: 7%;
          width: 170px;
        }
        p:last-of-type {
          margin-top: 10px;
          margin-left: 17%;
        }
      }
      div {
        width: 211px;
        height: 140px;
        background-image: url(../images/vinyl.jpg);
        img {
          margin-left: 7px;
          width: 125px;
          height: 125px;
          border: 5px solid gray;
        }
      }
    }
  }
  .butdiv {
    @include center;
    margin-top: 150px;
    button {
      width: 150px;
      height: 40px;
      background-color: #0b2538cc;
      border: none;
      border-radius: 5px;
      color: white;
    }
  }
}
