@import url("https://fonts.googleapis.com/css2?family=Kadwa&family=Kaisei+Decol&family=Kameron&family=Karla:wght@700&family=Karma&family=Kaushan+Script&family=Roboto:ital,wght@0,500;1,700;1,900&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  height: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  header li,
  header input,
  header .input,
  header img,
  header .fa-solid {
    display: none;
  }
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav h1 {
  font-size: 35px;
  color: #ab1d46;
  margin-right: 150px;
}
header nav h1 span {
  color: #ff4c30;
}
header nav ul {
  display: flex;
  column-gap: 31.5px;
  margin-right: 50px;
}
header nav ul li a {
  color: #13264e;
  font-size: 20px;
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav .input {
  position: relative;
  width: 188px;
  height: 21px;
}
header nav .input input {
  width: 188px;
  height: 21px;
  border-radius: 40px;
  padding-left: 11px;
  background-color: rgba(217, 217, 217, 0.5019607843);
  border: none;
  outline: none;
}
header nav .input i {
  position: absolute;
  font-size: 8px;
  right: 8px;
  top: 50%;
  transform: translatey(-50%);
}
header .cordination {
  margin-left: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 14px;
}
@media (max-width: 768px) {
  header .cordination {
    margin: 0;
  }
}
header .cordination .lines {
  display: none;
}
@media (max-width: 768px) {
  header .cordination .lines {
    display: block;
  }
}

main .kendrick {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url(../images/lamar.webp);
  background-repeat: no-repeat;
  width: 100%;
  height: 700px;
  background-position: center;
  opacity: 80%;
}
@media (max-width: 768px) {
  main .kendrick img {
    display: none;
  }
}
main .kendrick p {
  font-size: 30px;
  color: purple;
  width: 527px;
  line-height: 40px;
}
@media (max-width: 768px) {
  main .kendrick p {
    font-size: 26px;
    width: 483px;
    text-align: center;
  }
}
main .kendrick button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 127px;
  height: 48px;
  background-color: rgba(78, 94, 57, 0.8980392157);
  border: none;
  border-radius: 8px;
  color: white;
  margin-top: 32px;
}
main .kendrick img {
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translatey(-50%);
}
main .kendrick .circles {
  display: flex;
  gap: 14px;
  position: absolute;
  bottom: 60px;
}
main .kendrick .circles div {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: black;
}
main .kendrick .circles div:nth-of-type(2) {
  background-color: white;
}
main .xazebi {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 98px;
}
main .xazebi div {
  width: 253px;
  height: 0;
  border: 1px solid black;
}
@media (max-width: 768px) {
  main .xazebi div {
    width: 90.5px;
  }
}
main .xazebi h1 {
  font-family: "Kaisei Decol", serif;
  font-size: 36px;
  margin-inline: 13px;
}
@media (max-width: 768px) {
  main .xazebi h1 {
    font-size: 30px;
  }
}
main .arrows {
  margin-top: 102px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .arrows .left {
  margin-left: 50px;
}
main .arrows .right {
  margin-right: 50px;
}
@media (max-width: 768px) {
  main .arrows {
    justify-content: center;
  }
  main .arrows .left {
    display: none;
  }
  main .arrows .right {
    display: none;
  }
}
main .arrows .albums {
  width: 60%;
  display: flex;
  justify-content: space-between;
  font-family: "Kaisei Decol", serif;
}
@media (max-width: 768px) {
  main .arrows .albums {
    justify-content: center;
    width: 211px;
  }
}
@media (max-width: 768px) {
  main .arrows .albums {
    flex-direction: column;
    row-gap: 80px;
  }
}
main .arrows .albums p {
  margin-top: 7px;
}
main .arrows .albums .damn {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .arrows .albums .morale {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .arrows .albums .morale p {
  width: 163px;
}
main .arrows .albums .butterfly {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .arrows .albums div {
  width: 211px;
  height: 140px;
  background-image: url(../images/vinyl.jpg);
}
main .arrows .albums div img {
  margin-left: 7px;
  width: 125px;
  height: 125px;
  border: 5px solid gray;
}
main .butdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}
main .butdiv button {
  margin-bottom: 100px;
  width: 150px;
  height: 40px;
  background-color: rgba(11, 37, 56, 0.8);
  border: none;
  border-radius: 5px;
  color: white;
}
@media (max-width: 768px) {
  main .butdiv button {
    width: 240px;
    height: 70px;
    font-size: 22px;
  }
}
main .concert {
  width: 100%;
  height: 700px;
  background-image: url(../images/concert.webp);
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}
main .concert p {
  width: 407px;
  margin-bottom: 40px;
}
main .concert button {
  width: 241.446px;
  height: 60px;
  border-radius: 5px;
  border: none;
  background: #19364a;
  color: white;
}
main .blank {
  font-family: "Karma", serif;
  width: 100%;
  height: 333px;
  background-color: #273a47;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  color: white;
}
@media (max-width: 768px) {
  main .blank {
    justify-content: center;
  }
}
main .blank p {
  width: 1141px;
}
@media (max-width: 768px) {
  main .blank p {
    width: 471px;
    text-align: center;
  }
}

footer .wholefooter {
  flex-direction: column;
  background-color: #e4e4e4;
  padding: 40px 40px 26px 40px;
  display: flex;
}
footer .wholefooter .bothside {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
footer .wholefooter .bothside .leftside {
  width: 58.2%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .leftside {
    flex-direction: column;
  }
}
footer .wholefooter .bothside .leftside h1 {
  font-size: 25px;
  color: #ab1d46;
}
footer .wholefooter .bothside .leftside h1 span {
  color: #ff4c30;
}
footer .wholefooter .bothside .leftside p {
  font-family: "Kameron", serif;
  margin-top: 13px;
}
footer .wholefooter .bothside .leftside ul {
  margin-top: 44px;
  display: flex;
  flex-direction: column;
  gap: 17px 0;
  font-family: "Kameron", serif;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .leftside ul {
    display: none;
  }
}
footer .wholefooter .bothside .leftside .help {
  width: 173.003px;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .leftside .help {
    margin-left: 10px;
  }
}
footer .wholefooter .bothside .leftside .help hr {
  height: 1px;
  background-color: black;
}
footer .wholefooter .bothside .leftside .help p {
  font-family: "Kaushan Script", cursive;
}
footer .wholefooter .bothside .leftside .help ul {
  font-family: "Kameron", serif;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 12px;
}
footer .wholefooter .bothside .rightside {
  display: flex;
  justify-content: space-between;
  width: 30.2%;
}
@media (max-width: 768px) {
  footer .wholefooter .bothside .rightside {
    flex-direction: column-reverse;
  }
}
footer .wholefooter .bothside .rightside .social {
  text-align: end;
}
footer .wholefooter .bothside .rightside .contact {
  width: 173.003px;
}
footer .wholefooter .bothside .rightside .contact hr {
  height: 1px;
  background-color: black;
}
footer .wholefooter .bothside .rightside .contact p {
  font-family: "Kaushan Script", cursive;
  margin-top: 13px;
}
footer .wholefooter .bothside .rightside .contact ul {
  font-family: "Kameron", serif;
  display: flex;
  flex-direction: column;
  row-gap: 17px;
  margin-top: 12px;
}
footer .wholefooter .bottomfooter {
  display: flex;
  justify-content: space-between;
  width: 88.3%;
}
footer .wholefooter .bottomfooter .number {
  display: flex;
  column-gap: 20px;
  margin-top: 29px;
}
footer .wholefooter .bottomfooter .number img {
  width: 24px;
  height: 24px;
}
footer .wholefooter .bottomfooter .footerinput div {
  display: flex;
}
footer .wholefooter .bottomfooter .footerinput div input {
  width: 339px;
  height: 40px;
  padding-left: 13px;
  font-family: "Karma", serif;
  border: 1px solid #000;
  margin-right: 38px;
  border-radius: 12px;
}
@media (max-width: 768px) {
  footer .wholefooter .bottomfooter .footerinput div input {
    display: none;
  }
}
footer .wholefooter .bottomfooter .footerinput div input::placeholder {
  color: black;
  font-size: 20px;
}
footer .wholefooter .bottomfooter .footerinput div button {
  width: 148px;
  height: 40px;
  font-family: "Karma", serif;
  font-size: 15px;
  color: white;
  font-family: "Karma", serif;
  background-color: #273a47;
  border: none;
  border-radius: 12px;
}
@media (max-width: 768px) {
  footer .wholefooter .bottomfooter .footerinput div button {
    display: none;
  }
}
footer .wholefooter .bottomfooter .footerinput p {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  margin-top: 11px;
}
@media (max-width: 768px) {
  footer .wholefooter .bottomfooter .footerinput p {
    display: none;
  }
}
