<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://kit.fontawesome.com/2399d5fa48.js"
      crossorigin="anonymous"
    ></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>food delivery</title>
    <link rel="stylesheet" href="../static/secondpage.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-Avb2QiuDEEvB4bZJYdft2mNjVShBftLdPG8FJ0V7irTLQ8Uo0qcPxh4Plq7G5tGm0rU+1SPhVotteLpBERwTkw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <div class="containerone">
        <nav class="navbar">
          <div class="logo">
            <a href="/secondpage">
              <img src="../static/images/shape.png" alt="" />
            </a>
            <div class="search">
              <input type="search" id="mySearch" placeholder="search" />
              <label for="mySearch"><div class="loopimg"></div></label>
            </div>
          </div>
          <div class="square">
            <ul>
              <li>Restaurants</li>
              <li class="lastone">Deals</li>
              <div class="borderdiv"></div>
              <li>My orders</li>
              <div class="vector"></div>
              <a href="/thirdpage">
                <div class="girl"></div>
              </a>
              <a href="https://www.tbceducation.ge/"><img src="../static/images/Capture.PNG" alt="" style="width: 60px; height: 60px; margin-left: 40px;"></a>
              <div class="verticalLine"></div>
              <a href="../thirdPage/thirdPage.html"
                ><div class="burger-icon"><i class="fa-solid fa-bars"></i></div
              ></a>
            </ul>
          </div>
        </nav>
      </div>
    </header>
    <section>
      <div class="container">
        <div class="sale">
          <div class="ice">
            <div class="left"></div>
            <div class="describe">
              <div>
                <h3>All deserts</h3>
                <h1>20% OFF</h1>
              </div>
              <p>dese</p>
            </div>
          </div>
          <div class="burger">
            <div class="leftone"></div>
            <div class="describeone">
              <div>
                <h3>Big Burgers</h3>
                <h1>50% OFF</h1>
              </div>
              <p>Fooddies</p>
            </div>
          </div>
        </div>
        <div class="menu">
          {% for product in products %}
          <div tabindex="0">
            <img src={{ product.photo }} alt= {{product.name}} />
            <p>{{ product.name }}</p>
          </div>
          {% endfor %}
        </div>
        <div class="restaurants">
          <h4>Neabry Restaurants</h4>
          <div class="ordered">
            <div class="sushi">
              <h1>Burgers & Pizza</h1>
              <div>
                <img src="../static/images/clock.png" alt="" />
                <p>40-60 min $24 min sum</p>
              </div>
              <div class="hotdog">
                <img src="../static/images/sushi.png" alt="" />
                <p>sushi</p>
              </div>
            </div>
            <div class="pizza">
              <h1>Burgers & Pizza</h1>
              <div>
                <img src="../static/images/clock.png" alt="" />
                <p>40-60 min $24 min sum</p>
              </div>
              <div class="hotdog">
                <img src="../static/images/sushi.png" alt="" />
                <p>sushi</p>
              </div>
            </div>
            <div class="ninjashushi">
              <h1>Burgers & Pizza</h1>
              <div>
                <img src="../static/images/clock.png" alt="" />
                <p>40-60 min $24 min sum</p>
              </div>
              <div class="hotdog">
                <img src="../static/images/sushi.png" alt="" />
                <p>sushi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
